<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>淡水區公所櫃檯系統</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/angular-material/angular-material.css">
    <link rel="stylesheet" href="/static/assets/main.css">

</head>

<body ng-app="RootApp" ng-controller="AppCtrl" layout="column">

    <!-- TOOLBAR -->
    <md-toolbar layout="row">

        <div class="md-toolbar-tools">
        <md-button ng-click="openSidenav()" class="md-icon-button" hide-gt-md aria-label="Toggle Menu">
            <md-icon md-svg-icon="/static/material-design-icons/navigation/svg/design/ic_menu_24px.svg"></md-icon>
        </md-button>
        <h3>
            <span>淡水區公所櫃檯系統</span>
        </h3>
        </div>

    </md-toolbar>


    <!-- WHOLE CONTAINER -->
    <div layout="row" flex>

        <!-- SIDEBAR -->
        <md-sidenav 
            md-is-locked-open="$mdMedia('gt-md')"
            class="md-sidenav-left md-whiteframe-z2"
            md-component-id="global-sidenav"
            layout="column">

            <md-content>
                <md-list ng-repeat="menuSection in menuSections">
                    <md-subheader class="md-no-sticky">[[menuSection.name]]</md-subheader>
                    <md-list-item md-ink-ripple ng-click="navTo(menuItem.href)" md-expando ng-repeat="menuItem in menuSection.items">
                        <md-icon md-svg-src="[[menuItem.icon]]"></md-icon>
                        <p>
                            [[menuItem.name]]
                        </p>
                    </md-list-item>
                </md-list>
            </md-content>

        </md-sidenav>

        <!-- ANGULAR CONTENT VIEW -->
        <md-content id="content-view" layout="column" flex ng-view style="background: #ccc;">
        </md-content>
    </div>

    <!-- Common Libraries -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/underscore/underscore.js"></script>
    <script src="/static/angular/angular.js"></script>
    
    <!-- Angular Modules -->
    <script src="/static/angular-material/angular-material.js"></script>
    <script src="/static/angular-aria/angular-aria.js"></script>
    <script src="/static/angular-animate/angular-animate.js"></script>
    <script src="/static/angular-route/angular-route.js"></script>
    <script src="/static/angular-resource/angular-resource.js"></script>
    <script src="/static/angular-cookies/angular-cookies.js"></script>
    <script src="/static/angular-messages/angular-messages.js"></script>
    <script src="/static/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>

    <!-- App Modules -->
    <!-- modules: global -->
    <script src="/static/app/config.js"></script>

    <!-- modules: directives -->
    <script src="/static/app/common/directives/checkid.js"></script>

    <!-- modules: services -->
    <script src="/static/app/common/services/django-rest-resource.js"></script>

    <!-- modules: resources -->
    <script src="/static/app/common/resources/user.js"></script>
    <script src="/static/app/common/resources/application.js"></script>
    <script src="/static/app/common/resources/applicationcase.js"></script>
    <script src="/static/app/common/resources/comment.js"></script>  
    <script src="/static/app/common/resources/applicant.js"></script>

    <!-- modules: controllers -->
    <script src="/static/app/apps/profile/controllers.js"></script>
    <script src="/static/app/apps/application/controllers.js"></script>
    <script src="/static/app/apps/applicant/controllers.js"></script>

    <!-- modules: entry point -->
    <script src="/static/app/app.js"></script>

</body>
</html>
