<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NTPC Frontdesk</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-material-design/dist/css/material.min.css" rel="stylesheet">
    <link href="/static/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
    <link href="/static/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">

  </head>
  <body>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-material-design/dist/js/material.js"></script>
    <script src="/static/bootstrap-material-design/dist/js/ripples.js"></script>
    <script>
        $(function(){
            $.material.init();
        });
    </script>
  </body>
</html>
