<md-list>
<!-- case detail form: START -->
<md-content class="md-padding" style="background: None;">
<md-card layout="column">
    <md-content class="md-padding emphasis" layout="row" layout-sm="column" md-theme="emphasis">
        <md-tile-left>
            [[case.application_case.name]]
        </md-tile-left>
        <md-tile-content>
            <h2>[[case.applicant.fullname]]</h2>
        </md-tile-content>
    </md-content>

    <md-card-content>

        <md-content class="md-padding" layout="row" layout-sm="column">
            <md-input-container flex>
                <label>案號</label>
                <input ng-model="case.serial_number" disabled>
            </md-input-container>
            <md-input-container flex>
                <label>案件建立時間</label>
                <input ng-model="case.applied_time" disabled>
            </md-input-container>
            <md-input-container flex>
                <label>案件修改時間</label>
                <input ng-model="case.modified_time" disabled>
            </md-input-container>
        </md-content>

        <md-content class="md-padding" layout="row" layout-sm="column">
            <!-- Applicant Information -->
            <md-input-container flex>
                <label>申請人姓名</label>
                <input ng-model="case.applicant.fullname" disabled>
            </md-input-container>

            <md-input-container flex>
                <label>申請人身份證字號</label>
                <input ng-model="case.applicant.id_no" disabled>
            </md-input-container>

            <md-input-container flex>
                <label>申請人聯絡電話</label>
                <input ng-model="case.applicant.phone" disabled>
            </md-input-container>
        </md-content>

        <md-content class="md-padding" layout="row" layout-sm="column">
            <!-- Applicant Information -->
            <md-input-container flex>
                <label>戶籍地址</label>
                <input ng-model="case.applicant.registered_address" disabled>
            </md-input-container>

            <md-input-container flex>
                <label>通訊地址</label>
                <input ng-model="case.applicant.living_address" disabled>
            </md-input-container>
        </md-content>

        <md-content class="md-padding" layout="row" layout-sm="column">
            <md-tile-left>
                <md-content class="md-padding">
                    <h4>應備文件</h4>
                </md-content>
            </md-tile-left>
            <md-tile-content layout="column" layout-sm="column">
                <md-content ng-repeat="form in case.application_case.required_forms">
                    <md-input-container>
                        <md-checkbox ng-model="checkingListTable[form.id]" ng-change="updateHandovered()">
                            [[form.name]]
                        </md-checkbox>
                        <a href="[[form.scan_file]]" ng-if="form.scan_file">申請表</a>
                    </md-input-container>
                </md-content>
            </md-tile-content>
        </md-content>

        <md-content class='md-padding' layout='row' layout-sm='column'>
            <md-tile-left flex="10">
                <md-content class="md-padding">
                    <h4>備註</h4>
                </md-content>
            </md-tile-left>
            <md-tile-content layout layout-align="center center" flex="90">
                <md-input-container flex>
                    <textarea ng-model="case.notes" column=3></textarea>
                </md-input-container>
            </md-tile-content>
        </md-content>

        <md-content class="md-padding" layout='row' layout-sm='column'>
            <md-tile-left>
                <md-content class="md-padding">
                    <h4>收件人</h4>
                </md-content>
            </md-tile-left>
            <md-tile-content layout layout-align="center center">
                <md-content layout>
                    <span class="stamp">[[case.author.last_name]][[case.author.first_name]]</span>
                </md-content>
            </md-tile-content>
        </md-content>

    </md-card-content>

    <md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-primary" ng-click="printNotifyForm()">
            <md-icon md-svg-icon="/static/material-design-icons/action/svg/production/ic_print_48px.svg"></md-icon>
            一次告知單
        </md-button>
        <md-button class="md-primary md-raised" ng-click="commitModification()">修改</md-button>
        <md-button class="md-warn md-raised" ng-click="">刪除</md-button>
    </div>
    </md-card-content>

</md-card>

<br>

<!-- comments list: START -->
    <md-card>
        <md-card-content>
            <md-input-container>
                <label>留言內容</label>
                <input ng-model="comment_content"></input>
            </md-input-container>
        </md-card-content>
        <md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="submitComment()">留言</md-button>
        </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-list>
            <md-subheader>目前已有留言</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="comment in comments.slice().reverse()">
                <div class="md-list-item-text">
                    <h4>[[comment.author.fullname]]</h4>
                    <p>[[comment.content]]</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card>

</md-content>
</md-list>
