<md-list class="md-padding">
<md-card layout="column">
    <md-card-content>
    <form name="newCaseForm">
        <h2>新增案件</h2>
        <md-content class="md-padding">
            <h3>申請項目</h3>
            <md-content class="md-padding">
                <md-select ng-change="clearHandovered()" ng-model="caseModel.application_case" placeholder="請選擇申請項目">
                    <md-option ng-repeat="item in applicationCase_r.results" ng-value="item">[[item.name]]</md-option>
                </md-select>
            </md-content>
        </md-content>

        <md-content class="md-padding" ng-if="caseModel.application_case">

            <h3>[[caseModel.application_case.name]]收件注意事項</h3>
            <md-content class="md-padding">
                <p>[[caseModel.application_case.notes]]</p>
            </md-content>


            <h3>[[caseModel.application_case.name]]應備文件</h3>
            <md-content class="md-padding">
                <div ng-repeat="form in caseModel.application_case.required_forms">
                    <md-checkbox ng-change="updateHandovered()" ng-model="handoveredDocumentTemp[form.id]">[[form.name]]</md-checkbox>
                </div>
            </md-content>


            <h3>申請人</h3>
            <md-content class="md-padding">
                <div layout="row">
                    <md-input-container>
                        <label>身份證字號</label>
                        <input ng-model="caseModel.applicant.id_no" name="id_no" type="text" checkid required>
                        <div ng-messages="newCaseForm.id_no.$error">
                            <div ng-message="required">此爲必填項目</div>
                            <div ng-message="checkid">身份證字號格式錯誤</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>姓名</label>
                        <input type="text" ng-model="caseModel.applicant.fullname" name="fullname" required>
                        <div ng-messages="newCaseForm.fullname.$error">
                            <div ng-message="required">此爲必填項目</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container>
                    <label>聯絡電話</label>
                    <input type="text" ng-model="caseModel.applicant.phone" name="phone" required>
                    <div ng-messages="newCaseForm.phone.$error">
                        <div ng-message="required">此爲必填項目</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>戶籍地址</label>
                    <input type="text" ng-model="caseModel.applicant.registered_address">
                </md-input-container>

                <md-input-container>
                    <label>居住地址</label>
                    <input type="text" ng-model="caseModel.applicant.living_address">
                </md-input-container>
            </md-content>


            <h3>案件備註</h3>
            <md-content class="md-padding">
                <md-input-container>
                    <label>如有備註請輸入</label>
                    <textarea rows="2" ng-model="caseModel.notes"></textarea>
                </md-input-container>
            </md-content>

        </md-content>


        <div class="md-actions" id="caseAddFormControls" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="saveCase()">新增案件</md-button>
            <md-button class="md-raised">重設所有欄位</md-button>
        </div>
    </form>
    </md-card-content>


</md-card>
</md-list>
