<md-list>
<md-card layout="column">
    <md-content layout-padding>
        <h2>新增案件</h2>
        
            <md-subheader>申請項目</md-subheader>
            <md-content>
                <md-select ng-change="clearHandovered()" ng-model="caseModel.application_case" placeholder="請選擇申請項目">
                    <md-option ng-repeat="item in caseOptions" ng-value="item">[[item.name]]</md-option>
                </md-select>
            </md-content>

            <div style="height: 200px" ng-if="!caseModel.application_case"></div>
            <div style="height: 20px" ng-if="caseModel.application_case"></div>

            <div ng-if="caseModel.application_case">

                <md-subheader>[[caseModel.application_case.name]]應備文件</md-subheader>
                <div ng-repeat="form in caseModel.application_case.required_forms">
                    <md-checkbox ng-change="updateHandovered()" ng-model="handoveredDocumentTemp[form.id]">[[form.name]]</md-checkbox>
                </div>


                <md-subheader>[[caseModel.application_case.name]]收件注意事項</md-subheader>
                <p>[[caseModel.application_case.notes]]</p>
                

                <md-subheader>申請人</md-subheader>

                <md-content layout-padding>
                    <md-input-container>
                        <label>身份證字號</label>
                        <input ng-model="caseModel.applicant.id_no" type="text">
                    </md-input-container>

                    <md-input-container>
                        <label>姓名</label>
                        <input type="text" ng-model="caseModel.applicant.fullname">
                    </md-input-container>

                    <md-input-container class="md-icon-float">
                        <label>聯絡電話</label>
                        <input type="text" ng-model="caseModel.applicant.phone">
                    </md-input-container>

                    <md-input-container>
                        <label>戶籍地址</label>
                        <input type="text" ng-model="caseModel.applicant.registered_address">
                    </md-input-container>

                    <md-input-container>
                        <label>居住地址</label>
                        <input type="text" ng-model="caseModel.applicant.living_address">
                    </md-input-container>
                </md-content>


                <md-subheader>案件備註</md-subheader>
                <md-content layout-padding>
                    <md-input-container>
                        <textarea rows="3" ng-model="caseModel.notes"></textarea>
                    </md-input-container>
                </md-content>

            </div>

            
    </md-content>

    <md-content layout-padding id="caseAddFormControls">
        <md-button class="md-primary md-raised" ng-click="saveCase()">新增案件</md-button>
        <md-button class="md-raised">重設所有欄位</md-button>
    </md-content>

</md-card>
</md-list>
