<md-list>
    <md-card layout="column">
        <md-content layout-padding>
        <h2>新增案件</h2>
        <md-list>
            <md-subheader>申請項目</md-subheader>
            <md-list-item>
                <md-autocomplete
                    md-selected-item="selectedApplicationCase"
                    md-search-text="caseSearchText"
                    md-items="item in queryCase(caseOptions)"
                    md-item-text="item.name"
                    placeholder="請輸入表單名稱關鍵字">
                    <span md-highlight-text="caseSearchText" md-highlight-flags="^i">[[item.name]]</span>
                </md-autocomplete>
            </md-list-item>
            <div style="height: 200px" ng-if="!selectedApplicationCase"></div>
            <div style="height: 20px" ng-if="selectedApplicationCase"></div>

            <div ng-if="selectedApplicationCase">

                <md-subheader>[[selectedApplicationCase.name]]應備文件</md-subheader>
                <md-list-item>
                    <div ng-repeat="form in selectedApplicationCase.required_forms">
                        <md-checkbox>[[form.name]]</md-checkbox>
                    </div>
                </md-list-item>

                <md-subheader>[[selectedApplicationCase.name]]收件注意事項</md-subheader>
                <md-list-item>
                    <p>[[selectedApplicationCase.notes]]</p>
                </md-list-item>
                
                <md-subheader>申請人</md-subheader>
                <md-list-item>

                    <md-content layout="row">
                        <md-input-container>
                            <label>身份證字號</label>
                            <input type="text">
                        </md-input-container>
                        <md-input-container>
                            <label>姓名</label>
                            <input type="text">
                        </md-input-container>
                    </md-content>
                </md-list-item>

                <md-subheader>案件備註</md-subheader>
                <md-list-item>
                    <md-input-container>
                        <textarea rows="3"></textarea>
                    </md-input-container>
                </md-list-item>

            </div>

        </md-list>
            
        </md-content>

        <md-content layout-padding id="caseAddFormControls">
            <md-button class="md-primary md-raised">新增案件</md-button>
            <md-button class="md-raised">重設所有欄位</md-button>
        </md-content>

    </md-card>
</md-list>
