<md-toolbar md-scroll-shrink>
<div class="md-toolbar-tools">
    <md-button>
        <md-icon md-svg-icon="/static/material-design-icons/action/svg/design/ic_delete_24px.svg"></md-icon>
    </md-button>
</div>
</md-toolbar>

<md-content class="md-padding" style="background: #ccc;">
    <md-input-container>
        <label>搜尋</label>
        <input ng-model="searchText" type="text">
    </md-input-container>
    <md-list>
        <md-item ng-repeat="case in cases | filter:searchText">
            <md-card style="background: white;">
                <md-item-content>
                    <md-tile-left>
                        <md-content class="md-padding">
                            [[case.application_case.name]]
                        </md-content>
                    </md-tile-left>

                    <md-tile-content>
                        <h3>[[case.applicant.fullname]]</h3>
                        <h4>[[case.applicant.id_no]]</h4>
                        <p>申請時間：[[ case.applied_time | date : 'medium' : '+0800' ]]</p>
                    </md-tile-content>

                    <div layout="column">
                        <md-button class="md-primary" ng-href="#/cases/[[case.id]]">查詢/修改</md-button>
                    </div>
                </md-item-content>

            </md-card>
        </md-item>
    </md-list>
</md-content>
