<md-content layout-padding style="background: #ccc;">
    <md-list layout="column">
        <md-list-item ng-repeat="case in case_r.results">
            <md-card style="background: white;" flex>

                <md-card-content>
                        <md-content layout="row">
                            <div flex>
                                [[case.application_case.name]]
                            </div>
                            <div flex layout="row" layout-align="end center">
                                案號：[[case.serial_number]]
                            </div>
                        </md-content>

                        <md-content class="md-padding">
                        <h3>[[case.applicant.fullname]] - [[case.applicant.id_no]]</h3>
                        <p>申請時間：[[ case.applied_time | date : 'medium' : '+0800' ]]</p>
                        </md-content>

                        <md-content layout="row" layout-align="start">
                            <div flex>
                                <md-button class="md-raised md-primary" ng-href="#/cases/[[case.id]]">查詢/修改</md-button>
                            </div>

                            <md-content flex layout="row" layout-align="end center">
                            收件人&nbsp;&nbsp;<span class="stamp">[[ case.author.last_name ]][[ case.author.first_name ]]</span>
                            </md-content>
                        </md-content>

                </md-card-content>
            </md-card>
            <br/>
        </md-list-item>
        <md-button class="md-primary" ng-click="case_r.$iter()" flex>MORE</md-button>
    </md-list>
</md-content>


<md-button class="md-fab md-primary" aria-label="新增案件" style="position: absolute; right: 20px; bottom: 20px;" ng-href="#/new-case">
    <md-tooltip md-direction="top">新增案件</md-tooltip>
    <md-icon md-svg-src="/static/material-design-icons/content/svg/production/ic_add_24px.svg"></md-icon>
</md-button>
