<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>淡水區公所櫃檯系統</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="/static/angular-material/angular-material.css">
    <link rel="stylesheet" href="/static/assets/main.css">

</head>
<body ng-app="RootApp" ng-controller="LoginCtrl" layout="column">
    <div layout="row" layout-align="center center" style="height: 100%; width: 100%;">
        <md-card style="width: 300px;">
            <md-card-content>
                <md-content class="card-header">
                    <center>
                        <h2>淡水區公所櫃檯系統</h2>
                    </center>
                </md-content>
                <form action="{{ app_path }}" method="post">
                    <md-input-container>
                        <label>使用者帳號</label>
                        <input id="id_username" name="username">
                    </md-input-container>

                    <md-input-container>
                        <label>使用者密碼</label>
                        <input name="password" type="password">
                    </md-input-container>

                    {% csrf_token %}
                    <input type="hidden" name="next" value="/app" />
                    <div layout="row" layout-align="center center">
                        <md-button class="md-fab md-primary" aria-label="登入">
                            <md-icon md-svg-src="/static/material-design-icons/navigation/svg/production/ic_arrow_forward_24px.svg"></md-icon>
                        </md-button>

                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
    <!-- Common Libraries -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/underscore/underscore.js"></script>
    <script src="/static/angular/angular.js"></script>

    <!-- Angular Modules -->
    <script src="/static/angular-material/angular-material.js"></script>
    <script src="/static/angular-aria/angular-aria.js"></script>
    <script src="/static/angular-animate/angular-animate.js"></script>
    <script src="/static/angular-route/angular-route.js"></script>
    <script src="/static/angular-resource/angular-resource.js"></script>
    <script src="/static/angular-cookies/angular-cookies.js"></script>
    <script src="/static/angular-messages/angular-messages.js"></script>
    <script src="/static/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>

    <!-- App Modules -->
    <!-- modules: global -->
    <script src="/static/app/config.js"></script>

    <!-- modules: directives -->
    <script src="/static/app/common/directives/checkid.js"></script>

    <!-- modules: services -->
    <script src="/static/app/common/services/django-rest-resource.js"></script>

    <!-- modules: resources -->
    <script src="/static/app/common/resources/user.js"></script>
    <script src="/static/app/common/resources/application.js"></script>
    <script src="/static/app/common/resources/applicationcase.js"></script>
    <script src="/static/app/common/resources/comment.js"></script>
    <script src="/static/app/common/resources/applicant.js"></script>

    <!-- modules: controllers -->
    <script src="/static/app/apps/profile/controllers.js"></script>
    <script src="/static/app/apps/application/controllers.js"></script>
    <script src="/static/app/apps/applicant/controllers.js"></script>

    <!-- modules: entry point -->
    <script src="/static/app/app.js"></script>

</body>
</html>
